{
  "extends": ["standard", "prettier", "plugin:prettier/recommended", "plugin:jest/recommended"],
  "plugins": ["prettier", "jest"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false
      }
    ]
  }
}
